.page {
    min-height: 100vh;
    background-color: azure;
}

.card {
    max-width: 200px;
    padding: 2rem;
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 200%;
    text-align: center;
}

.card p {
    line-height: rem;
    font-size: 100%;
}