p {
    color: aquamarine;
    font-style: italic;
    margin: 12px;
    text-align: center;
}

.highlight {
    color: blueviolet;
    font-style: oblique;
    margin: 20px;
    text-align: left;
}

#title {
    color: burlywood;
    font-style: normal;
    margin: 25px;
    text-align: right;
}